# Overview
This project constistutes the back-end of our application. It performs an Extract, Transform, and Load on a comma-seperated-value file sourced from Charlottesville PD Crime Data resources using numerous Python libraries, including Pandas (for data manipulation) and Pymongo to integrate MongoDB. The original CSV file is converted to a readable table and uploaded to an Atlas server we created. We then separate it into condensed topical dimensional tables, including tables for location, incident type, and time, which we then perform transformations on and further seperate into more condensed information columns for easy querying. The location dimensional table is formed from the merging of data from Cville PD with .txt/.csv files we generated by repetitively running coordinate generation and cluster matching algorithms on our address data. Finally, we create a star schema with fact_crime as a centralized table for easy reading.

Note that we are using real-world data, which has NaN values and invalid Street/Block names.

## Import Statements

In [1]:
import os
import numpy
import pandas as pd
import json
import requests
import pymongo

## Connection variables for Mongo, source and destination databases

In [2]:
src_dbname = "crime"
dst_dbname = "crime_dw"

#connecting to mongoDB atlas server. user ncc9kn, pword 123Colby
conn_str = {'local' : f"mongodb://localhost:27017/",
    'atlas' : 'mongodb+srv://ncc9kn:123Colby@cluster0.r70tagk.mongodb.net/?retryWrites=true&w=majority'
}

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ncc9kn:123Colby@cluster0.r70tagk.mongodb.net/?retryWrites=true&w=majority

## Populate MongoDB with Source Data (CSV file)

In [3]:
client = pymongo.MongoClient(conn_str['atlas'])
db = client[src_dbname]

data_dir = os.path.join(os.getcwd(), 'data')
csv_file = os.path.join(data_dir, 'Crime_Data.csv')

df_crime = pd.read_csv(csv_file)
df_crime['BlockNumber'] = df_crime['BlockNumber'].fillna(-1).astype(int) #replace NaNs with -1 to signify missing val, convert float values to int
data = df_crime.to_dict('records')

collection = client[src_dbname]['Source_Crime_Data']
collection.insert_many(data)

df_crime.head(2000)

,RecordID,Offense,IncidentID,BlockNumber,StreetName,Agency,DateReported,HourReported,ReportingOfficer
0,1,Missing Person-juvenile,202300009513,500,PARK ST,CPD,2023/03/24 03:04:34+00,2304,"Lowry, Brent"
1,2,Larceny - Shoplifitng,202300009504,1400,UNIVERSITY AVE,CPD,2023/03/24 01:56:28+00,2156,"Lowe, Courteny"
2,3,Misc - Criminal Call,202300009486,800,"HARDY DR, E",CPD,2023/03/23 23:21:14+00,1921,"Middleton, Matthew"
3,4,Assault Simple,202300009485,-1,WAYNE AVE / ANGUS RD,CPD,2023/03/23 22:45:08+00,1845,"Whitten, Tobyn"
4,5,Driving Under the Influence,202300009466,1100,SEMINOLE,CPD,2023/03/23 20:27:19+00,1627,"Headley, Someya"
...,...,...,...,...,...,...,...,...,...
1995,1996,Animal Complaint,202200031815,1500,VINE ST,CPD,2022/11/01 16:29:53+00,1229,"Allen, Claire"
1996,1997,Robbery - Strong Arm,202200031813,1300,CARLTON AVE,CPD,2022/11/01 15:55:02+00,1155,"Lucas, Todd"
1997,1998,Larceny - From Motor Vehicle,202280000963,-1,15TH ST NW,CPD,2022/11/01 15:45:58+00,1145,"Moje, Ashley"
1998,1999,Warrant Service,202200031807,2100,"HYDRAULIC RD, A",CPD,2022/11/01 15:14:32+00,1114,"Hopiane, Sayd"
1999,2000,Missing Person-juvenile,202200031798,300,RIVERSIDE AVE,CPD,2022/11/01 14:24:02+00,1024,"Shiflett, Tammy"

## Create a new data frame which is a copy of df_crime which has been created from the source CSV. We will filter out specific crime types which are not of interest in this new df.

In [4]:
#List of irrelevant crime types. for one reason or another these are not data of interest
crime_filter = ['Larceny - Shoplifitng',
 'Suspicious Activity',
 'Suspicious Person',
 'Assist Citizen - Misc',
 'Misc - Non-Criminal Call',
 'Lost/FoundProperty',
 'Runaway',
 'Domestic Disturbance',
 'Assist Citizen - Medical',
 'Assist Citizen - Mental/TDO/ECO',
 'Fraud-wire fraud',
 'Fraud-credit card',
 'Trespass',
 'Animal - Bite',
 'Traffic Stops',
 'Drunkeness DIP',
 'Fraud-impersonation',
 'Animal Complaint',
 'Phone Calls - Annoying',
 'Fraud-false pretense',
 'Phone Calls - Threat or Obscene',
 'Disturbance - Non Domesy/Counterfeiting',
 'Missing Person-adult',
 'Comm Relations Initiative - CRI',
 'Suspicious Vehicle',
 'Unauthorized Use of Motory',
 'Accident w/Injuries',
 'Assist Agency - Backup/Assist',
 'Accident Property Damage',
 'Crime Prevent Initiative - CPI',
 'Prowler - Peeping  Tom',
 'Fraud-welfare',
 'Attemped Suicide',
 'Family Offense - Non-Violent',
 'Accident Private Property',
 'Suicide Investigation',
 'Juvenile Investigation',
 'Towed Vehicle',
 'Alarm - True',
 'Impersonating a Police Officer',
 'Assist Agency - Arrest/warrant',
 'Embezzelment',
 'Alarm-Accidental',
 '911 Investigation',
 'Traffic - Abandoned Vehicle',
 'Liquor Law Violation',
 'Noise Complaint',
 'False Report of Crime',
 'Tactical Crime Initiative - TCI',
 'Traffic - Traffic Hazard',
 'Stop w/o Search/Frisk',
 'Prostitution',
 'Littering/Illegal Dumping',
 'Problem Solving Project - PSP',
 'Traffic - Disabled Vehicle',
 'COVID-19 Tracking',
 'Fireworks Violation',
 'Stop w/Search/Frisk',
 'Curfew/Loitering/Vagrancy',
 'Alarm - Unknown',
 'Assisted on Prev Reported',
 'Solicitation illegal w/o permit',
 'Computer Crime',
 'Prostitution-assisting/promoting',
 'Field Interview',
 'Accident - w/out Injuries',
 'Assist Agency - Other',
 'Assist Citizen - Welfare Check',
 'Crisis Assessment',
 'Disturbance - Non Domestic',
 'Extortion/Blackmail',
 'Fires Not Arson',
 'Forgery/Counterfeiting',
 'Missing Person-juvenile',
 'Pornography',
 'Warrant Service',
 'Child Ab - Contr to Delinquency']

df_filter_crime = df_crime.loc[~df_crime['Offense'].isin(crime_filter)]
df_filtered = df_filter_crime[df_filter_crime['DateReported'].str[0:4].astype(int) >= 2023] #we only want recent crimes from this year

#print(df_filtered.shape[0])
df_filtered.head(1000)

,RecordID,Offense,IncidentID,BlockNumber,StreetName,Agency,DateReported,HourReported,ReportingOfficer
2,3,Misc - Criminal Call,202300009486,800,"HARDY DR, E",CPD,2023/03/23 23:21:14+00,1921,"Middleton, Matthew"
3,4,Assault Simple,202300009485,-1,WAYNE AVE / ANGUS RD,CPD,2023/03/23 22:45:08+00,1845,"Whitten, Tobyn"
4,5,Driving Under the Influence,202300009466,1100,SEMINOLE,CPD,2023/03/23 20:27:19+00,1627,"Headley, Someya"
5,6,Larceny - All Other,202300009458,400,"11TH ST NE, A11",CPD,2023/03/23 19:44:51+00,1544,"Shiflett, Tammy"
8,9,Larceny - Theft from Building,202300009399,200,"W WATER ST, 100",CPD,2023/03/23 12:38:20+00,838,"Payne, Katherine"
...,...,...,...,...,...,...,...,...,...
1123,1124,Hit and Run,202300000041,100,250 BYPASS,CPD,2023/01/01 12:04:36+00,704,"Lowry, Brent"
1124,1125,Driving Under the Influence,202300000038,-1,E MARKET ST / 10TH ST NE,CPD,2023/01/01 11:08:31+00,608,"Aguilera, Natalia"
1125,1126,Disorderly Conduct,202300000037,600,E MARKET ST,CPD,2023/01/01 10:35:29+00,535,"Vlasis, Christopher"
1127,1128,Driving Under the Influence,202300000024,-1,PRESTON AVE @ RIDGE MCINTIRE RD,CPD,2023/01/01 07:32:45+00,232,"Aguilera, Natalia"
1128,1129,Assault Simple,202300000006,1200,WERTLAND ST,CPD,2023/01/01 05:24:55+00,24,"Middleton, Matthew"

## Create new df_location, df_time, df_incident by column from df_crime

In [5]:
df_location = df_filtered.loc[:, ['BlockNumber', 'StreetName']]
df_location.head(2000)

      BlockNumber                       StreetName
2             800                      HARDY DR, E
3              -1             WAYNE AVE / ANGUS RD
4            1100                         SEMINOLE
5             400                  11TH ST NE, A11
8             200                  W WATER ST, 100
...           ...                              ...
1123          100                       250 BYPASS
1124           -1         E MARKET ST / 10TH ST NE
1125          600                      E MARKET ST
1127           -1  PRESTON AVE @ RIDGE MCINTIRE RD
1128         1200                      WERTLAND ST

[710 rows x 2 columns]

In [6]:
def separate_date(row):
    year = row['DateReported'][0:4]
    month = row['DateReported'][5:7]
    day = row['DateReported'][8:10]
    return pd.Series({'Day': day, 'Month': month, 'Year' : year})

def separate_hour(row):
    row_str = str(row['HourReported'])
    if len(row_str) == 2:
        row_str = '00' + row_str
    elif len(row_str) == 3:
        row_str = '0' + row_str
    hour = row_str[0:2]
    minute = row_str[2:4]
    return pd.Series({'Hour': hour, 'Minute': minute})

df_time = df_filtered.loc[:, ['DateReported', 'HourReported']]
df_time[['Day', 'Month', 'Year']] = df_time.apply(separate_date, axis=1)
df_time[['Hour', 'Minute']] = df_time.apply(separate_hour, axis=1)

df_time.head(2000)

                DateReported  HourReported Day Month  Year Hour Minute
2     2023/03/23 23:21:14+00          1921  23    03  2023   19     21
3     2023/03/23 22:45:08+00          1845  23    03  2023   18     45
4     2023/03/23 20:27:19+00          1627  23    03  2023   16     27
5     2023/03/23 19:44:51+00          1544  23    03  2023   15     44
8     2023/03/23 12:38:20+00           838  23    03  2023   08     38
...                      ...           ...  ..   ...   ...  ...    ...
1123  2023/01/01 12:04:36+00           704  01    01  2023   07     04
1124  2023/01/01 11:08:31+00           608  01    01  2023   06     08
1125  2023/01/01 10:35:29+00           535  01    01  2023   05     35
1127  2023/01/01 07:32:45+00           232  01    01  2023   02     32
1128  2023/01/01 05:24:55+00            24  01    01  2023   00     24

[710 rows x 7 columns]

In [7]:
df_incident = df_filtered.loc[:, ['RecordID', 'IncidentID', 'Offense', 'ReportingOfficer', 'Agency']]
df_incident.head(2000)

,RecordID,IncidentID,Offense,ReportingOfficer,Agency
2,3,202300009486,Misc - Criminal Call,"Middleton, Matthew",CPD
3,4,202300009485,Assault Simple,"Whitten, Tobyn",CPD
4,5,202300009466,Driving Under the Influence,"Headley, Someya",CPD
5,6,202300009458,Larceny - All Other,"Shiflett, Tammy",CPD
8,9,202300009399,Larceny - Theft from Building,"Payne, Katherine",CPD
...,...,...,...,...,...
1123,1124,202300000041,Hit and Run,"Lowry, Brent",CPD
1124,1125,202300000038,Driving Under the Influence,"Aguilera, Natalia",CPD
1125,1126,202300000037,Disorderly Conduct,"Vlasis, Christopher",CPD
1127,1128,202300000024,Driving Under the Influence,"Aguilera, Natalia",CPD
1128,1129,202300000006,Assault Simple,"Middleton, Matthew",CPD

## Transformations on dim tables

In [8]:
df_location.insert(0, 'LocationKey', range(1, df_location.shape[0]+1))
df_location.head(2000)

      LocationKey  BlockNumber                       StreetName
2               1          800                      HARDY DR, E
3               2           -1             WAYNE AVE / ANGUS RD
4               3         1100                         SEMINOLE
5               4          400                  11TH ST NE, A11
8               5          200                  W WATER ST, 100
...           ...          ...                              ...
1123          706          100                       250 BYPASS
1124          707           -1         E MARKET ST / 10TH ST NE
1125          708          600                      E MARKET ST
1127          709           -1  PRESTON AVE @ RIDGE MCINTIRE RD
1128          710         1200                      WERTLAND ST

[710 rows x 3 columns]

In [9]:
df_time.insert(0, 'TimeKey', range(1, df_time.shape[0]+1))
df_time.head(2000)

,TimeKey,DateReported,HourReported,Day,Month,Year,Hour,Minute
2,1,2023/03/23 23:21:14+00,1921,23,03,2023,19,21
3,2,2023/03/23 22:45:08+00,1845,23,03,2023,18,45
4,3,2023/03/23 20:27:19+00,1627,23,03,2023,16,27
5,4,2023/03/23 19:44:51+00,1544,23,03,2023,15,44
8,5,2023/03/23 12:38:20+00,838,23,03,2023,08,38
...,...,...,...,...,...,...,...,...
1123,706,2023/01/01 12:04:36+00,704,01,01,2023,07,04
1124,707,2023/01/01 11:08:31+00,608,01,01,2023,06,08
1125,708,2023/01/01 10:35:29+00,535,01,01,2023,05,35
1127,709,2023/01/01 07:32:45+00,232,01,01,2023,02,32
1128,710,2023/01/01 05:24:55+00,24,01,01,2023,00,24

In [10]:
drop_columns = ['IncidentID','RecordID']
df_incident.drop(drop_columns, axis=1, inplace=True)
df_incident.insert(0, 'IncidentKey', range(1, df_incident.shape[0]+1))
df_incident.head(2000)

      IncidentKey                        Offense     ReportingOfficer Agency
2               1           Misc - Criminal Call   Middleton, Matthew    CPD
3               2                 Assault Simple       Whitten, Tobyn    CPD
4               3    Driving Under the Influence      Headley, Someya    CPD
5               4            Larceny - All Other      Shiflett, Tammy    CPD
8               5  Larceny - Theft from Building     Payne, Katherine    CPD
...           ...                            ...                  ...    ...
1123          706                    Hit and Run         Lowry, Brent    CPD
1124          707    Driving Under the Influence    Aguilera, Natalia    CPD
1125          708             Disorderly Conduct  Vlasis, Christopher    CPD
1127          709    Driving Under the Influence    Aguilera, Natalia    CPD
1128          710                 Assault Simple   Middleton, Matthew    CPD

[710 rows x 4 columns]

## Load altered data frames into the new warehouse

In [11]:
loc_collection = db['dim_location']
loc_data = df_location.to_dict(orient='records')
loc_collection.insert_many(loc_data)

In [12]:
time_collection = db["dim_time"]
time_data = df_time.to_dict(orient='records')
time_collection.insert_many(time_data)

In [13]:
incident_collection = db["dim_incident"]
incident_data = df_incident.to_dict(orient='records')
incident_collection.insert_many(incident_data)

## We calculated the coordinates from the addresses. Here we are merging df_location with a coordinate data frame read from file which consists of a foreign key to location, latitude, and longitude of interest

In [14]:
coordinate_csv_file = os.path.join(data_dir, 'coordinates.csv')

df_coordinate = pd.read_csv(coordinate_csv_file)
drop_columns = ['Unnamed: 0']
df_coordinate.drop(drop_columns, axis=1, inplace=True)
df_coordinate['LocationKey'] = df_coordinate['LocationKey'].astype(int) #foreign key out to df_location
df_coordinate.insert(0, 'CoordinateKey', range(1, df_coordinate.shape[0]+1))
df_coordinate.head(2000)

     CoordinateKey  LocationKey   Latitude  Longitude
0                1            3  38.065002 -78.486684
1                2            6  38.022262 -78.508608
2                3            7  38.016586 -78.485624
3                4            8  38.055399 -78.501326
4                5            9  38.035884 -78.484271
..             ...          ...        ...        ...
523            524          704  38.029599 -78.468018
524            525          705  38.025355 -78.497829
525            526          706  38.038589 -78.466648
526            527          708  38.030406 -78.477798
527            528          710  38.034154 -78.496506

[528 rows x 4 columns]

In [15]:
df_location = pd.merge(df_location, df_coordinate, on='LocationKey', how='inner')
drop_columns = ['CoordinateKey']
df_location.drop(drop_columns, axis=1, inplace=True)
df_location.head(2000)

     LocationKey  BlockNumber        StreetName   Latitude  Longitude
0              3         1100          SEMINOLE  38.065002 -78.486684
1              6         1600        CHERRY AVE  38.022262 -78.508608
2              7         1600     6TH ST SE, 20  38.016586 -78.485624
3              8         1200         CEDARS CT  38.055399 -78.501326
4              9          700         HARRIS ST  38.035884 -78.484271
..           ...          ...               ...        ...        ...
523          704         1200    LITTLE HIGH ST  38.029599 -78.468018
524          705           -1  FOREST HILLS AVE  38.025355 -78.497829
525          706          100        250 BYPASS  38.038589 -78.466648
526          708          600       E MARKET ST  38.030406 -78.477798
527          710         1200       WERTLAND ST  38.034154 -78.496506

[528 rows x 5 columns]

## Create our cluster df from a .csv generated from clustering algorithm

In [16]:
cluster_csv_file = os.path.join(data_dir, 'clusters.csv')

df_cluster = pd.read_csv(cluster_csv_file)
drop_columns = ['Unnamed: 0']
df_cluster.drop(drop_columns, axis=1, inplace=True)
df_cluster['LocationKey'] = df_cluster['LocationKey'].astype(int) #foreign key out to df_location
df_cluster['Cluster'] = df_cluster['Cluster'].astype(int)
df_cluster.insert(0, 'ClusterKey', range(1, df_cluster.shape[0]+1))

df_cluster.head(2000)

     ClusterKey  LocationKey  Cluster
0             1            3       19
1             2            6       58
2             3            7       67
3             4            8       28
4             5            9       44
..          ...          ...      ...
523         524          704       13
524         525          705        3
525         526          706       50
526         527          708       53
527         528          710       35

[528 rows x 3 columns]

## Before we merge clusters back to location, collect the k-means scores and merge them into df_clusters

In [17]:
#k-means clustering score for each cluster
scores_txt_file = os.path.join(data_dir, 'scores.txt')

df_score = pd.read_csv(scores_txt_file, header=None, names=['Score'])
df_score.insert(0, 'ScoreKey', range(1, df_score.shape[0]+1)) #ScoreKey as a foreign key to df_cluster

df_score.head(2000)

    ScoreKey      Score
0          1  54.874686
1          2  39.375850
2          3  75.221535
3          4  52.850001
4          5  59.076769
..       ...        ...
69        70  47.964379
70        71  58.932452
71        72  42.043547
72        73  38.750957
73        74  59.857967

[74 rows x 2 columns]

In [18]:
df_cluster = pd.merge(df_cluster, df_score, left_on='Cluster', right_on='ScoreKey')
drop_columns = ['ScoreKey']
df_cluster.drop(drop_columns, axis=1, inplace=True)

## Now we merge in clusters.csv (constructed from clustering algorithm)

In [19]:
df_location = pd.merge(df_location, df_cluster, on='LocationKey', how='inner')
drop_columns = ['ClusterKey']
df_location.drop(drop_columns, axis=1, inplace=True)
df_location.head(2000)

,LocationKey,BlockNumber,StreetName,Latitude,Longitude,Cluster,Score
0,3,1100,SEMINOLE,38.065002,-78.486684,19,25.477818
1,6,1600,CHERRY AVE,38.022262,-78.508608,58,49.774648
2,7,1600,"6TH ST SE, 20",38.016586,-78.485624,67,38.639724
3,8,1200,CEDARS CT,38.055399,-78.501326,28,46.803283
4,9,700,HARRIS ST,38.035884,-78.484271,44,45.066266
...,...,...,...,...,...,...,...
513,704,1200,LITTLE HIGH ST,38.029599,-78.468018,13,69.675295
514,705,-1,FOREST HILLS AVE,38.025355,-78.497829,3,75.221535
515,706,100,250 BYPASS,38.038589,-78.466648,50,55.730581
516,708,600,E MARKET ST,38.030406,-78.477798,53,52.336710
517,710,1200,WERTLAND ST,38.034154,-78.496506,35,48.976958

## Load coordinates and clusters into dw as dimensional tables (containing foreign keys to dim_location

In [20]:
coordinate_collection = db["dim_coordinate"]
coordinate_data = df_coordinate.to_dict(orient='records')
coordinate_collection.insert_many(coordinate_data)

In [21]:
cluster_collection = db["dim_cluster"]
cluster_data = df_cluster.to_dict(orient='records')
cluster_collection.insert_many(cluster_data)

## Create Central Fact Table

In [22]:
df_merge_loc_time = pd.merge(df_location, df_time, left_on='LocationKey', right_on='TimeKey')
df_merge_loc_time.head(2000)

,LocationKey,BlockNumber,StreetName,Latitude,Longitude,Cluster,Score,TimeKey,DateReported,HourReported,Day,Month,Year,Hour,Minute
0,3,1100,SEMINOLE,38.065002,-78.486684,19,25.477818,3,2023/03/23 20:27:19+00,1627,23,03,2023,16,27
1,6,1600,CHERRY AVE,38.022262,-78.508608,58,49.774648,6,2023/03/23 12:16:56+00,816,23,03,2023,08,16
2,7,1600,"6TH ST SE, 20",38.016586,-78.485624,67,38.639724,7,2023/03/23 11:54:59+00,754,23,03,2023,07,54
3,8,1200,CEDARS CT,38.055399,-78.501326,28,46.803283,8,2023/03/23 11:40:30+00,740,23,03,2023,07,40
4,9,700,HARRIS ST,38.035884,-78.484271,44,45.066266,9,2023/03/23 01:07:35+00,2107,23,03,2023,21,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,704,1200,LITTLE HIGH ST,38.029599,-78.468018,13,69.675295,704,2023/01/01 17:49:40+00,1249,01,01,2023,12,49
514,705,-1,FOREST HILLS AVE,38.025355,-78.497829,3,75.221535,705,2023/01/01 17:00:26+00,1200,01,01,2023,12,00
515,706,100,250 BYPASS,38.038589,-78.466648,50,55.730581,706,2023/01/01 12:04:36+00,704,01,01,2023,07,04
516,708,600,E MARKET ST,38.030406,-78.477798,53,52.336710,708,2023/01/01 10:35:29+00,535,01,01,2023,05,35
517,710,1200,WERTLAND ST,38.034154,-78.496506,35,48.976958,710,2023/01/01 05:24:55+00,24,01,01,2023,00,24

In [23]:
df_fact_crime = pd.merge(df_merge_loc_time, df_incident, left_on='LocationKey', right_on='IncidentKey')
df_fact_crime.head(2000)

,LocationKey,BlockNumber,StreetName,Latitude,Longitude,Cluster,Score,TimeKey,DateReported,HourReported,Day,Month,Year,Hour,Minute,IncidentKey,Offense,ReportingOfficer,Agency
0,3,1100,SEMINOLE,38.065002,-78.486684,19,25.477818,3,2023/03/23 20:27:19+00,1627,23,03,2023,16,27,3,Driving Under the Influence,"Headley, Someya",CPD
1,6,1600,CHERRY AVE,38.022262,-78.508608,58,49.774648,6,2023/03/23 12:16:56+00,816,23,03,2023,08,16,6,Vandalism,"Green, Bryan",CPD
2,7,1600,"6TH ST SE, 20",38.016586,-78.485624,67,38.639724,7,2023/03/23 11:54:59+00,754,23,03,2023,07,54,7,Motor Vehicle Theft,"Green, Bryan",CPD
3,8,1200,CEDARS CT,38.055399,-78.501326,28,46.803283,8,2023/03/23 11:40:30+00,740,23,03,2023,07,40,8,Assault Simple,"Hopiane, Sayd",CPD
4,9,700,HARRIS ST,38.035884,-78.484271,44,45.066266,9,2023/03/23 01:07:35+00,2107,23,03,2023,21,07,9,Larceny - Of Veh Parts/Access,"O'Briant, Landon",CPD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,704,1200,LITTLE HIGH ST,38.029599,-78.468018,13,69.675295,704,2023/01/01 17:49:40+00,1249,01,01,2023,12,49,704,Hit and Run,"Headley, Someya",CPD
514,705,-1,FOREST HILLS AVE,38.025355,-78.497829,3,75.221535,705,2023/01/01 17:00:26+00,1200,01,01,2023,12,00,705,Vandalism,"Moje, Ashley",CPD
515,706,100,250 BYPASS,38.038589,-78.466648,50,55.730581,706,2023/01/01 12:04:36+00,704,01,01,2023,07,04,706,Hit and Run,"Lowry, Brent",CPD
516,708,600,E MARKET ST,38.030406,-78.477798,53,52.336710,708,2023/01/01 10:35:29+00,535,01,01,2023,05,35,708,Disorderly Conduct,"Vlasis, Christopher",CPD
517,710,1200,WERTLAND ST,38.034154,-78.496506,35,48.976958,710,2023/01/01 05:24:55+00,24,01,01,2023,00,24,710,Assault Simple,"Middleton, Matthew",CPD

## Transform Fact Table

In [24]:
#drop unimportant columns
drop_columns = ['ReportingOfficer', 'Agency', 'BlockNumber', 'StreetName', 'DateReported', 'HourReported', 'TimeKey', 'LocationKey', 'IncidentKey']
df_fact_crime.drop(drop_columns, axis=1, inplace=True)

#add new primary key, "IncidentKey" (not to be confused with old IncidentKey from incident df)
df_fact_crime.insert(0, 'IncidentKey', range(1, df_fact_crime.shape[0]+1))

#reorder column order, use IncidentKey as primary key
ordered_columns = ['IncidentKey', 'Offense', 'Latitude', 'Longitude', 'Cluster', 'Score', 'Hour', 'Minute', 'Day', 'Month', 'Year']
df_fact_crime = df_fact_crime[ordered_columns]
df_fact_crime.head(2000)

,IncidentKey,Offense,Latitude,Longitude,Cluster,Score,Hour,Minute,Day,Month,Year
0,1,Driving Under the Influence,38.065002,-78.486684,19,25.477818,16,27,23,03,2023
1,2,Vandalism,38.022262,-78.508608,58,49.774648,08,16,23,03,2023
2,3,Motor Vehicle Theft,38.016586,-78.485624,67,38.639724,07,54,23,03,2023
3,4,Assault Simple,38.055399,-78.501326,28,46.803283,07,40,23,03,2023
4,5,Larceny - Of Veh Parts/Access,38.035884,-78.484271,44,45.066266,21,07,23,03,2023
...,...,...,...,...,...,...,...,...,...,...,...
513,514,Hit and Run,38.029599,-78.468018,13,69.675295,12,49,01,01,2023
514,515,Vandalism,38.025355,-78.497829,3,75.221535,12,00,01,01,2023
515,516,Hit and Run,38.038589,-78.466648,50,55.730581,07,04,01,01,2023
516,517,Disorderly Conduct,38.030406,-78.477798,53,52.336710,05,35,01,01,2023
517,518,Assault Simple,38.034154,-78.496506,35,48.976958,00,24,01,01,2023

## Load Fact Table to Server

In [25]:
fact_collection = db['fact_crime']
fact_data = df_fact_crime.to_dict(orient='records')
fact_collection.insert_many(fact_data)